*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  place-items: center center;
}
.content{
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result content__details";
  gap: 30px;
  align-items: end;
}
.search-form{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.content__list-container{
  height: 298px;
  overflow: auto;
}
.content__details{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin: 2px;
}
.result__video-container{
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}
.result__video{
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}
.content__list-item{
  margin-bottom: 30px;
  padding-left: 3px;
}
.content__video-card{
  display: flex;
  align-items: flex-start;
}
.content__video-card-thumbnail{
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}
.content__video-card-description-container{
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
}
.search-form__fieldset-title{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}
.title{
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;

}
.content__accent{
  color: #545050;
}
.content__card-link{
  text-decoration: none;
  color: #FFFFFF;
}
.content__video-card-title{
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  max-inline-size: 196px;
}
.content__video-card-description{
  line-height: 16.2px;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.search-form__checkbox-list{
  display: flex;
  gap: 15px;
  padding-bottom: 5px;
}
.search-form__fieldset{
  border: none;
}
.search-form__label{
  display: flex;
  width: fit-content;
  align-items: center;
}
.search-form__textfield{
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid #FFFFFF;
  border-right: transparent;
  border-left: transparent;
  width: 225px;
  height: 27px;
  appearance: none;
  padding: 2.5px 14px 2.5px 0;

}
.search-form__textfield:has(:focus-visible){
  outline: 1px solid white;
  outline-offset: 2px;
}
.search-form__pseudo-checkbox{
  border: 1px solid white;
  display: flex;
  place-items: center center;
  width: 19px;
  height: 19px;
  margin-right: 5px;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  position: relative;
  inset: 0;
  display: block;
  margin: 1px;
  background-color: white;
  inline-size: 15px;
  block-size: 15px;
}
.search-form__label:has(:focus-visible){
  outline: 1px solid white;
  outline-offset: 2px;
}
.search-form__label:hover{
  text-decoration: underline;
  cursor: pointer;
}
.button{
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  height: 34px;
  cursor: pointer
}
.search-form__submit-button{
  min-width: 194px;
  margin-top: 20px;

}
.more-button{
  width: 100%;
}
.button:active{
  background-color: #545050;
  text-decoration: none;
}
.button:hover{
  text-decoration: underline;
} 
.button:focus{
  outline: none;
}
.button:focus-visible{
  outline: 1px solid white;
  outline-offset: 2px;
}
.content__card-link_current{
  background-color: #545050;
}
.content__list-item{
  padding: 0 3px;
}
.content__card-link:hover{
  text-decoration: underline;
} 
.content__list-item:active{
  background-color: #545050;
}
.content__card-link:active{
  text-decoration: none;
}
.content__card-link:focus{
  outline: none;
}
.content__card-link:focus-visible{
  outline: 1px solid white;
}
.result__video-container,
.content__list-container{
  position: relative;
}